extends layout

block content
  h1= title
  p   #{title} 

  div
    a(href='/tube', class='ui-btn ui-shadow').
      نمایش لیست ویدیوها
  
  div
    a(href='/musics', class='ui-btn ui-shadow').
      نمایش لیست موزیکها 
