doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1')
    title= title
    link(rel='stylesheet', href='https://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css')
  body
    form(action='/search',method='post')  
<<<<<<< HEAD
     div جستجو       
        input(type='input',name='searchvalue')
        input(type='submit' value='بگرد')
=======
     lable(value='جستجو')  
     input(type='input',name='searchvalue')
    
>>>>>>> 857a9ccaaeaf349f67952b51f91cc0f72b1abe98
    block content    
    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src='https://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js')
    div(data-role='content')
       value='Proadly by Metao Cloud Studio  Co. copyright 2014'
        
   
  
    
