block content
  header(data-role='header')
    h1= title
  div(data-role='content')
    if items.length
      //create a listview wrapper
      ul(data-role='listview')
       
    div
      a(href='/', class='ui-btn ui-shadow').
        صفحه اصلی
