extends layout
block content
  div(data-role='page')
    header(data-role='header')
      h1= title
    div(data-role='content')
      //Our video div
      div#video
        .flowplayer(data-swf='flowplayer.swf', data-ratio='0.4167')
          video(src="http://hippie-cement-9090.codio.io/?vid="+vid)
      div
        a(href='/download/'+vid,target="_blank")
          دانلود
        a(href='/tube', class='ui-btn ui-shadow').
          ویدیو ها
        a(href='/', class='ui-btn ui-shadow').
          صفحه اصلی
        
